.div-query{
    display:flex;
    justify-content: space-between;
    margin-right: 1.5rem;
    padding: 1.5rem;
}

.query-input{
    display:flex;
}

.query-input button{
    margin-left: 10px;
    padding:10px;
}

.query-tables{
    width:80%;
    margin:auto;
    margin-top:30px;
}

.tabla-alumnos{
    width:100%;
    border-collapse:collapse;
}

.tabla-alumnos th{
    background:#1f4e79;
    color:white;
    padding:10px;
    text-align:left;
}

.tabla-alumnos td{
    padding:10px;
    border-bottom:1px solid #ccc;
    background-color:#ffffff;
}

.tabla-alumnos tr:hover{
    background:#f2f2f2;
}